Django
django-allauth
django-debug-toolbar
django-import-export
django_extensions
django-geojson
django-jazzmin
django-leaflet
django-pattern-library
django_perms_provisioner
django-storages
gunicorn
jsonfield
Pillow
psycopg2-binary
python-dotenv
wagtail
wagtailcodeblock
wagtailmenus
